@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/js/jqgrid/jqgrid.min.js"></script>
@*<link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />*@
<script src="~/Content/js/jqgrid/grid.locale-cn.js"></script>

<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: rootUrl + "/BaseManage/Warehouse/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
        gridList();        
    });

    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: rootUrl + "/SystemManage/User/GetGridJson",
            height: $(window).height() - 128,
            multiselect: true,
            shrinkToFit: false,
            autowidth: false,
            width:680,
            colModel: [
                { label: '主键', name: 'F_Id', hidden: true },
                { label: '用户名称', name: 'F_RealName', width: 120, align: 'left' },
                { label: '手机', name: 'F_MobilePhone', width: 80, align: 'left' },
                {
                    label: '公司', name: 'F_OrganizeId', width: 150, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return top.clients.organize[cellvalue] == null ? "" : top.clients.organize[cellvalue].fullname;
                    }
                },
                {
                    label: '部门', name: 'F_DepartmentId', width: 100, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return top.clients.organize[cellvalue] == null ? "" : top.clients.organize[cellvalue].fullname;
                    }
                },
                {
                    label: '岗位', name: 'F_DutyId', width: 80, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return top.clients.duty[cellvalue] == null ? "" : top.clients.duty[cellvalue].fullname;
                    }
                },
                {
                    label: "有效", name: "F_EnabledMark", width: 60, align: "center",
                    formatter: function (cellvalue) {
                        return cellvalue == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                }
            ],
            sortname: 'F_DepartmentId asc,F_CreatorTime desc',
            gridComplete: function () {
                var rows = $gridList.jqGrid('getRowData');  //输出所有匹配的
                
                $.ajax({
                    url: rootUrl + "/BaseManage/WarehouseUser/GetGridJson",
                    data: { keyword: keyValue },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        
                        for (var i = 0; i < rows.length; i++) {
                            //行数据
                            data.map(function (item) {                                
                                if (item.F_UserId == rows[i].F_Id) {
                                    $gridList.jqGrid('setSelection', i+1);
                                 }
                            })
                            
                        }                        
                    }
                });
            }
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }

    function initControl() {
        $("#F_OrganizeId").bindSelect({
            url: rootUrl + "/SystemManage/Organize/GetTreeSelectJson",
            param: { F_CategoryId: 'Company' },
            id: "F_Id",
            text: "F_FullName"
        });
    }

    function submitForm() {
        var postData = $("#form1").formSerialize();
        var arr = [];
        $("#gridList").jqGridRowValue().map(function (item) {
            arr.push(item.F_Id);
        });
        postData["userIds"] = String(arr);
        
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: rootUrl + "/BaseManage/Warehouse/SubmitForm?keyValue=" + keyValue,
            param: postData,
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#page1" data-toggle="tab">基本信息</a></li>
            <li class=""><a href="#page2" data-toggle="tab">对应人员</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="page1" style="padding-top: 20px; margin-right: 30px;">
                <table class="form">
                    <tr>
                        <th class="formTitle">仓库名称</th>
                        <td class="formValue">
                            <input id="F_Name" name="F_Name" type="text" class="form-control required" placeholder="请输入仓库名称" />
                        </td>
                        <th class="formTitle">联系人姓名</th>
                        <td class="formValue">
                            <input id="F_Contact" name="F_Contact" type="text" class="form-control" placeholder="请输入联系人姓名" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">仓库电话</th>
                        <td class="formValue">
                            <input id="F_Tel" name="F_Tel" type="text" class="form-control" placeholder="请输入电话" />
                        </td>
                        <th class="formTitle">联系人手机</th>
                        <td class="formValue">
                            <input id="F_MobilePhone" name="F_MobilePhone" type="text" class="form-control required" placeholder="请输入电话" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">公司</th>
                        <td class="formValue">
                            <select id="F_OrganizeId" name="F_OrganizeId" class="form-control required">
                            </select>
                        </td>
                        <th class="formTitle">仓库地址</th>
                        <td class="formValue">
                            <input id="F_Address" name="F_Address" type="text" class="form-control required" placeholder="请输入仓库地址" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle" style="height: 35px;">选项</th>
                        <td class="formValue" style="padding-top: 1px;" colspan="3">
                            <div class="ckbox">
                                <input id="F_IsBin" name="F_IsBin" type="checkbox" checked="checked"><label for="F_IsBin">是否货仓管理</label>
                            </div>
                            <div class="ckbox">
                                <input id="F_IsRequireReceive" name="F_IsRequireReceive" type="checkbox" checked="checked"><label for="F_IsRequireReceive">是否要求收货</label>
                            </div>
                            <div class="ckbox">
                                <input id="F_IsRequireShipment" name="F_IsRequireShipment" type="checkbox" checked="checked"><label for="F_IsRequireShipment">是否要求发货</label>
                            </div>
                            <div class="ckbox">
                                <input id="F_EnabledMark" name="F_EnabledMark" type="checkbox" checked="checked"><label for="F_EnabledMark">有效</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle" valign="top" style="padding-top: 5px;">
                            备注
                        </th>
                        <td class="formValue" colspan="3">
                            <textarea id="F_Description" name="F_Description" class="form-control" style="height: 60px;"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade in" id="page2" style="padding-top: 10px;">
                <div class="gridPanel">
                    <table id="gridList"></table>
                </div>
            </div>
        </div>
    </div>
</form>
