@{
    ViewBag.Title = "采购订单";
    Layout = "~/Views/Shared/_Query.cshtml";
}


<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            isTools: false,
            ToolsType: "row",
            url: rootUrl + "/PurchaseManage/Purchase/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'F_Id', hidden: true },
                { label: '采购单号', name: 'F_EnCode', width: 100, align: 'left' },
                { label: '供应商', name: 'F_SupplierName', width: 80, align: 'left' },
                { label: "订单日期", name: "F_BillDate", width: 80, align: "left" },
                { label: "过账日期", name: "F_PostDate", width: 80, align: "left" },
                {
                    label: "创建人", name: "F_CreatorUserId", width: 80, align: "left", formatter: function (cellvalue) {
                        return top.clients.user[cellvalue] == null ? "" : top.clients.user[cellvalue].fullname;
                    }
                },
                {
                    label: "审批人", name: "F_ConfirmUserId", width: 80, align: "left", formatter: function (cellvalue) {
                        return top.clients.user[cellvalue] == null ? "" : top.clients.user[cellvalue].fullname;
                    }
                },
                
                {
                    label: "状态", name: "F_Status", width: 60, align: "left",
                    formatter: function (cellvalue) {
                        return top.clients.dataItems.billStatus[cellvalue] == null ? "" : top.clients.dataItems.billStatus[cellvalue];
                    }
                },
                { label: '备注', name: 'F_Description', width: 100, align: 'left' },
                {
                    label: '操作', name: 'F_Description', width: 80, align: 'center',
                    formatter: function (cellvalue, options, row) {
                        var $elementHtml = "";
                        $('.operate').find('a[authorize=yes]').css({ 'cursor': 'pointer', 'padding': '2px 8px', 'margin-right': '20px' }).addClass('btn').each(function () {
                            if ($(this).attr("id") == "NF-delete" && row.F_Status != "1") {
                                var $span = $("<span style='padding:2px 14px;margin-right:20px;height:22px;display:inline-block'></span>");
                                $elementHtml = $elementHtml + $span.prop("outerHTML")
                            } else {
                                $elementHtml = $elementHtml + $(this).prop("outerHTML")
                            }                            
                        });
                        var $elementHtml = $elementHtml.replace(/\(\)/gi, '(\'' + row.F_Id + '\')').replace(/id/gi, 'name');
                        return $elementHtml;
                    }
                }
            ],
            pager: "#gridPager",
            sortname: 'F_CreatorTime desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新建订单",
            url: rootUrl + "/BaseManage/Warehouse/Form",
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit(keyValue) {
        var url = rootUrl + "/PurchaseManage/Purchase/Index";
        var $obj = window.top.$(".menuItem[href='" + url + "']", window.top.document);
        $obj.attr("href", rootUrl + "/PurchaseManage/Purchase/Edit?keyValue=" + keyValue);
        $obj.click();
        $obj.attr("href", url);
        
    }
    function btn_delete(keyValue) {
        $.deleteForm({
            url: rootUrl + "/BaseManage/Warehouse/DeleteForm",
            param: { keyValue: keyValue },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }

</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建订单</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li><a id="NF-edit" authorize="yes" onclick="btn_edit()" title="修改订单"><i class="fa fa-pencil-square-o"></i></a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()" title="删除订单"><i class="fa fa-trash-o"></i></a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="输入订单编号" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
