@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Order.cshtml";
}
<style>
    /**明细部分*/
    [v-cloak] { display: none; }
    .form { margin:5px; background: #fff; border: solid 0px #eee; -moz-box-shadow: 0px 0px 5px #ddd; -webkit-box-shadow: 0px 0px 5px #ddd; box-shadow: 0px 0px 5px #ddd; border-radius: 3px; }
    .gridPanel { border: 1px solid #edebeb; }
        .gridPanel table { margin-bottom: 0; width:100%}
        .gridPanel .fixed-table-header table > thead > tr > th { border: none; background-color: #eeeeee; height: 40px; padding: 6px; text-align: center; }
        .gridPanel .fixed-table-body { overflow-y: auto; }
            .gridPanel .fixed-table-body table > tbody > tr > td { border-right: 1px solid #edebeb; border-bottom: 1px solid #edebeb; padding: 0; background-color: #fff; }
                .gridPanel .fixed-table-body table > tbody > tr > td .select2-container--default .select2-selection--single { border-width: 0; }
                .gridPanel .fixed-table-body table > tbody > tr > td:last-child { border-right-width: 0; }
                .gridPanel .fixed-table-body table > tbody > tr > td > div { min-height: 32px; padding: 6px; }
                .gridPanel .fixed-table-body table > tbody > tr > td input { padding: 3px; width: 100% !important; border-radius: 0; box-shadow: none; height: 32px; border-width: 0; }
                    .gridPanel .fixed-table-body table > tbody > tr > td input:focus { border-width: 1px; }
                    .gridPanel .fixed-table-body table > tbody > tr > td input::-webkit-outer-spin-button,
                    .gridPanel .fixed-table-body table > tbody > tr > td input::-webkit-inner-spin-button { -webkit-appearance: none; }
                    .gridPanel .fixed-table-body table > tbody > tr > td input[type="number"] { -moz-appearance: textfield; }
        .gridPanel .fixed-table-footer table > tbody > tr > td{background-color: #eeeeee;border:none }
</style>
<script>
    var $table = null;
    //明细初始化数据
    var iniData = {
        OrderLineID: null,
        Code: null,
        Name: null,
        IsGift: null,
        UomID: null,
        MaterUnitType: [],
        UnitAmount: null,
        BillQty: null,
        OperQty: null,
        BalanceQty: null,
        WarehouseID: null,
        Amount: null,
        Remark: null
    };

    $(function () {
        initControl();

        //gridList();
    })
    function initControl() {
        var columns = [
            {
                field: 'OrderLineID',
                title: '序号',
                width: 40,
                align: 'center',
                type: 'index'
            }, {
                field: 'Code',
                title: '商品编号',
                width: 120,
                align: 'left',
                type: 'autocomplete',
                options: {
                    width:300,
                    source: [
      {
          value: "jquery",
          label: "jQuery",

      },
      {
          value: "jquery-ui",
          label: "jQuery UI",
      },
      {
          value: "sizzlejs",
          label: "Sizzle JS",
      }
                    ]
                }
            }, {
                field: 'Name',
                title: '商品名称',
                width: 260,
                align: 'left',
            }, {
                field: 'UomID',
                title: '单位',
                width: 60,
                align: 'center',
                type: 'select'
            }, {
                field: 'IsGift',
                title: '是否赠品',
                width: 80,
                align: 'center',
                type: 'select'
            }, {
                field: 'UnitAmount',
                title: '单价(¥)',
                width: 80,
                type: 'input'
            }, {
                field: 'BillQty',
                title: '订单数量',
                width: 80,
                align: 'right',
                type: 'number'
            }, {
                field: 'OperQty',
                title: '实际数量',
                width: 80,
                align: 'right',
                type: 'number'
            }, {
                field: 'BalanceQty',
                title: '剩余数量',
                width: 80,
                align: 'right',
                type: 'number'
            }, {
                field: 'Discount',
                title: '优惠金额(¥)',
                width: 80,
                align: 'right',
                type: 'number'
            }, {
                field: 'Amount',
                title: '金额(¥)',
                width: 60,
                align: 'right',
                type: 'number'
            }, {
                field: 'WarehouseID',
                title: '仓库',
                width: 100,
                align: 'center',
                type: 'select'
            }, {
                field: 'Remark',
                title: '备注',
                align: 'left',
                type: 'text'
            }, {
                field: 'operate',
                title: '操作',
                width: 60,
                align: 'center',
                type: 'opration'
            }
        ];

        var vueData = { columns: columns, rows: [], key: 'Code' };
        vueData.rows.push(JSON.parse(JSON.stringify(iniData)));

        var modelVue = new Vue({
            el: '#form1',
            data: vueData,
            computed: {

            },
            mounted: function () {
                var _self = this;
                tableHeight();
                var rowCount = Math.round($(".fixed-table-body").height() / 32);
                for (var i = 0; i < rowCount; i++) {
                    _self.rows.push(JSON.parse(JSON.stringify(iniData)));
                }
            }
        })
    }

    //自适应高
    function tableHeight() {
        $(".fixed-table-body").height($(window).height() - $(".fixed-table-body").offset().top - 95);
        $(window).resize(function () {
            $(".fixed-table-body").height($(window).height() - $(".fixed-table-body").offset().top - 95);
        });
    }

</script>

<form id="form1" v-cloak>
    <div class="form" >
        <div class="row">
            <div class="col-xs-12">
                <div class="formValue pull-left" style="width:231px;">
                    <div class="row">
                        <label class="col-xs-4" for="F_SupplierID" style="line-height:30px;text-align:right">供应商</label>
                        <div class="col-xs-8">
                            <select id="F_SupplierID" name="F_SupplierID" class="form-control required" v-select2></select>
                        </div>
                    </div>
                </div>
                <div class="formValue pull-left" style="width:231px;">
                    <div class="row">
                        <label class="col-xs-4" for="F_PurchaserID" style="line-height:30px;text-align:right">采购员</label>
                        <div class="col-xs-8">
                            <select id="F_PurchaserID" name="F_PurchaserID" class="form-control required" v-select2></select>
                        </div>
                    </div>
                </div>
                <div class="formValue pull-left" style="width:231px;">
                    <div class="row">
                        <label class="col-xs-4" for="F_BillType" style="line-height:30px;text-align:right">订单类型</label>
                        <div class="col-xs-8">
                            <select id="F_BillType" name="F_BillType" class="form-control required" v-select2></select>
                        </div>
                    </div>
                </div>
                <div class="formValue pull-left" style="width:231px;">
                    <div class="row">
                        <label class="col-xs-4" for="F_BillDate" style="line-height:30px;text-align:right">订单日期</label>
                        <div class="col-xs-8">
                            <input id="F_BillDate" name="F_BillDate" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="formValue pull-left" style="width:231px;">
                    <div class="row">
                        <label class="col-xs-4" for="F_PostDate" style="line-height:30px;text-align:right">过账日期</label>
                        <div class="col-xs-8">
                            <input id="F_PostDate" name="F_PostDate" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="formValue pull-left" style="width:231px;">
                    <div class="row">
                        <label class="col-xs-4" for="F_TruckID" style="line-height:30px;text-align:right">车辆</label>
                        <div class="col-xs-8">
                            <select id="F_TruckID" name="F_TruckID" class="form-control required" v-select2></select>
                        </div>
                    </div>
                </div>
                <div class="formValue pull-left" style="width:231px;">
                    <div class="row">
                        <label class="col-xs-4" for="F_DriverID" style="line-height:30px;text-align:right">司机</label>
                        <div class="col-xs-8">
                            <select id="F_DriverID" name="F_DriverID" class="form-control required" v-select2></select>
                        </div>
                    </div>
                </div>
                <div class="formValue pull-left" style="width:231px;">
                    <div class="row">
                        <label class="col-xs-4" for="F_IsStockFinished" style="line-height:30px;text-align:right">是否发货</label>
                        <div class="col-xs-8">
                            <select id="F_IsStockFinished" name="F_IsStockFinished" class="form-control required" v-select2></select>
                        </div>
                    </div>
                </div>
                <div class="formValue pull-left" style="width:231px;">
                    <div class="row">
                        <label class="col-xs-4" for="F_Status" style="line-height:30px;text-align:right">状态</label>
                        <div class="col-xs-8">
                            <select id="F_Status" name="F_Status" class="form-control required" v-select2></select>
                        </div>
                    </div>
                </div>
                <div class="formValue pull-left" style="width:231px;">
                    <div class="row">
                        <label class="col-xs-4" for="F_CreateUserID" style="line-height:30px;text-align:right">制单人</label>
                        <div class="col-xs-8">
                            <select id="F_CreateUserID" name="F_CreateUserID" class="form-control required" v-select2></select>
                        </div>
                    </div>
                </div>
                <div class="formValue pull-left" style="width:231px;">
                    <div class="row">
                        <label class="col-xs-4" for="F_UpdateUserID" style="line-height:30px;text-align:right">修改人</label>
                        <div class="col-xs-8">
                            <select id="F_UpdateUserID" name="F_UpdateUserID" class="form-control required" v-select2></select>
                        </div>
                    </div>
                </div>
                <div class="formValue pull-left" style="width:231px;">
                    <div class="row">
                        <label class="col-xs-4" for="F_ConfirmUserID" style="line-height:30px;text-align:right">审批人</label>
                        <div class="col-xs-8">
                            <select id="F_ConfirmUserID" name="F_ConfirmUserID" class="form-control required" v-select2></select>
                        </div>
                    </div>
                </div>
                <div class="formValue pull-left" style="width:462px;">
                    <div class="row">
                        <label class="col-xs-2" for="F_Remark" style="line-height:30px;text-align:right">备注</label>
                        <div class="col-xs-10">
                            <input id="F_Remark" name="F_Remark" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="formValue pull-left" style="width:231px;">
                    <div class="row">
                        <label class="col-xs-4" for="F_Code" style="line-height:30px;text-align:right">单据号</label>
                        <div class="col-xs-8">
                            <input id="F_Code" name="F_Code" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gridPanel">
            <div class="fixed-table-header" style="margin-right: 0px;">
                <table>
                    <thead>
                        <tr>
                            <th v-for="item in columns" :style="{width:item.width+'px'}" :data-field="item.field">{{item.title}}</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="fixed-table-body">
                <table style="margin-top: 0;">
                    <tbody>
                        <tr data-index="0" v-for="(trItem, trIndex) in rows">
                            <td v-for="(colItem, colIndex) in columns" :style="{'text-align':colItem.align,width:colItem.width+'px'}">
                                <input autocomplete="off" v-if="colItem.type=='autocomplete'" v-model="trItem[colItem.field]" :id="colItem.field+trIndex" :name="colItem.field" type="text" class="form-control" v-autocomplete="colItem.options" />
                                <input autocomplete="off" v-else-if="colItem.type=='text'" v-model="trItem[colItem.field]" :id="colItem.field+trIndex" :name="colItem.field" type="text" class="form-control" />
                                <input autocomplete="off" v-else-if="colItem.type=='number'" v-model="trItem[colItem.field]" :id="colItem.field+trIndex" :name="colItem.field" type="number" class="form-control" />
                                <select v-else-if="colItem.type=='select' && trItem[key]!=null" :id="colItem.field+trIndex" :name="colItem.field" class="form-control" v-select2="colItem.options" v-model="trItem[colItem.field]"></select>
                                <div v-else-if="colItem.type=='index'">{{trIndex+1}}</div>
                                <div v-else>{{trItem[colItem.field]}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="fixed-table-footer" style="margin-right: 0px;">
                <table class="table table-no-bordered">
                    <thead>
                        <tr>
                            <th v-for="item in columns" :style="{width:item.width+'px',padding:0,border:'none'}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="" colspan="4">
                                <div style="text-align:center;padding:3px;font-weight:bold">合计 0 种商品</div>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <div style="text-align:center;padding:3px;font-weight:bold">0.00</div>
                            </td>
                            <td>
                                <div style="text-align:center;padding:3px;font-weight:bold">0.00</div>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <div style="text-align:center;padding:3px;font-weight:bold">￥0.00</div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center" style="padding:10px;">
        <a id="NF-save" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_save()"><i class="fa fa-save"></i> 保存</a>
        <a id="NF-audit" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_audit()"><i class="fa fa-save"></i> 审核</a>
        <a id="NF-print" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_print()"><i class="fa fa-print"></i> 打印</a>
        <a id="NF-printview" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_printview()"><i class="fa fa-eye"></i> 打印预览</a>
    </div>
</form>

