@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Order.cshtml";
}

<script>
    var $table = null;

    var InitData = {
        inputField:"",
        //主表初始化数据
        list: {            
            details: []//明细行
        },
        //主表控件相关参数
        controlsList: [
            { field: "F_EnCode", label: "单据编号",defaultValue:"", layer: "header", divClass: "", inputclass: "", controlType: "div", dataType: "text", placeholder: "" },            
            { field: "F_PostDate", label: "收货日期", defaultValue: "", layer: "header", divClass: "", inputclass: "", controlType: "input", dataType: "date", placeholder: "" },
            { field: "F_SupplierID", label: "供应商", defaultValue: "", layer: "header", divClass: "", inputclass: "", controlType: "select", dataType: "text", placeholder: "请输入供应商", url: "", id: "", text: "" },
            { field: "F_PurchaserID", label: "采购员", defaultValue: "", layer: "header", divClass: "", inputclass: "", controlType: "select", dataType: "text", placeholder: "请输入采购员", url: "", id: "", text: "" },
            { field: "F_BillType", label: "订单类型", defaultValue: "", layer: "header", divClass: "", inputclass: "", controlType: "select", dataType: "text", placeholder: "请输入订单类型", url: "", id: "", text: "" },
            { field: "F_IsStockFinished", label: "发运状态", defaultValue: "", layer: "header", divClass: "", inputclass: "", controlType: "select", dataType: "text", placeholder: "", url: "", id: "", text: "" },
            { field: "F_Status", label: "单据状态", defaultValue: "", layer: "header", divClass: "", inputclass: "", controlType: "select", dataType: "text", placeholder: "", url: "", id: "", text: "" },
            
            { field: "F_Description", label: "备注", defaultValue: "", layer: "footer", divClass: "col-xs-12", inputclass: "", controlType: "input", dataType: "text", placeholder: "请输入您要备注的内容" },
            { field: "F_CreatorUserId", label: "制单人", defaultValue: "", layer: "footer", divClass: "col-xs-2", inputclass: "", controlType: "div", dataType: "text", placeholder: "" },
            { field: "F_BillDate", label: "制单日期", defaultValue: "", layer: "footer", divClass: "col-xs-2", inputclass: "", controlType: "div", dataType: "text", placeholder: "" },
            { field: "F_LastModifyUserId", label: "修改人", defaultValue: "", layer: "footer", divClass: "col-xs-2", inputclass: "", controlType: "div", dataType: "text", placeholder: "" },
            { field: "F_LastModifyTime", label: "修改日期", defaultValue: "", layer: "footer", divClass: "col-xs-2", inputclass: "", controlType: "div", dataType: "text", placeholder: "" },
            { field: "F_ConfirmUserId", label: "审批人", defaultValue: "", layer: "footer", divClass: "col-xs-2", inputclass: "", controlType: "div", dataType: "text", placeholder: "" },
            { field: "F_PrintNums", label: "打印次数", defaultValue: "", layer: "footer", divClass: "col-xs-2", inputclass: "", controlType: "div", dataType: "text", placeholder: "" },
        ],
        detail: {},
        //明细控件相关参数
        controlsDetails: [
            { field: "F_ItemID", nextFocusField: "F_UomID", label: "商品编号", defaultValue: "", totalLabel: "", width: "120px", align: 'left', divClass: "", inputclass: "", controlType: "autocomplete", dataType: "text", placeholder: "", url: "", id: "", text: "", isTotal: false },
            { field: "F_ItemIDName", nextFocusField: "", label: "商品名称", defaultValue: "", totalLabel: "", width: "120px", align: 'left', divClass: "", inputclass: "", controlType: "div", dataType: "text", placeholder: "", url: "", id: "", text: "", isTotal: false },
            { field: "F_UomID", nextFocusField: "F_IsGift", label: "单位", defaultValue: "", totalLabel: "", width: "60px", align: 'center', divClass: "", inputclass: "", controlType: "select", dataType: "text", placeholder: "", url: "", id: "", text: "", isTotal: false },
            { field: "F_IsGift", nextFocusField: "F_UnitAmount", label: "是否赠品", defaultValue: "", totalLabel: "", width: "80px", align: 'center', divClass: "", inputclass: "", controlType: "select", dataType: "", placeholder: "", url: "", id: "", text: "", isTotal: false },
            { field: "F_UnitAmount", nextFocusField: "F_BillQty", label: "单价(¥)", defaultValue: "", totalLabel: "", width: "80px", align: 'center', divClass: "", inputclass: "", controlType: "input", dataType: "number", placeholder: "", url: "", id: "", text: "", isTotal: false },
            { field: "F_BillQty", nextFocusField: "F_OperQty", label: "订单数量", defaultValue: "", totalLabel: "", width: "80px", align: 'right', divClass: "", inputclass: "", controlType: "input", dataType: "number", placeholder: "", url: "", id: "", text: "", isTotal: true },
            { field: "F_OperQty", nextFocusField: "F_Amount", label: "实际数量", defaultValue: "", totalLabel: "", width: "80px", align: 'right', divClass: "", inputclass: "", controlType: "input", dataType: "number", placeholder: "", url: "", id: "", text: "", isTotal: true },
            { field: "F_BalanceQty", nextFocusField: "", label: "剩余数量", defaultValue: "", totalLabel: "", width: "80px", align: 'right', divClass: "", inputclass: "", controlType: "input", dataType: "number", placeholder: "", url: "", id: "", text: "", isTotal: true },
            { field: "F_Amount", nextFocusField: "F_Description", label: "金额(¥)", defaultValue: "", totalLabel: "", width: "80px", align: 'right', divClass: "", inputclass: "", controlType: "input", dataType: "number", placeholder: "", url: "", id: "", text: "", isTotal: true },
            { field: "F_WarehouseID", nextFocusField: "F_Description", label: "仓库", defaultValue: "", totalLabel: "", width: "100px", align: 'center', divClass: "", inputclass: "", controlType: "select", dataType: "", placeholder: "", url: "", id: "", text: "", isTotal: false },
            { field: "F_Description", nextFocusField: "F_ItemID", label: "备注", defaultValue: "", totalLabel: "", width: "100px", align: 'left', divClass: "", inputclass: "", controlType: "input", dataType: "text", placeholder: "", url: "", id: "", text: "", isTotal: false }
        ]
    }

    $(function () {
        initControl();
    })
    function initControl() {
        //初始化主表数据
        InitData.controlsList.map(function (item) {
            InitData.list[item.field] = item.defaultValue;
        })
        //初始化明细表数据
        InitData.controlsDetails.map(function (item) {
            InitData.detail[item.field] = item.defaultValue;
        })

        var modelVue = new Vue({
            el: '.pur',
            data: JSON.parse(JSON.stringify(InitData)),
            computed: {
                saveData: function () {
                    var _self = this;
                    var arr = _self.list.details.filter(function (item) {
                        return item.F_ItemID == ""
                    });
                    _self.autoAddRow(arr);
                    return arr;
                }
            },
            created: function () {
                var _self = this; 
                for (var i = 0; i < 10; i++) {
                    _self.list.details.push(JSON.parse(JSON.stringify(_self.detail)));
                }
            },
            mounted: function () {
                var _self = this;
                _self.autoHeight();
                _self.autoAddRow(_self.list.details);
            },
            methods: {
                handleFocusTo: function (event, trIndex, colIndex, trItem, colItem) {
                    var el = event.target;
                    var options = {
                        minLength: 0,
                        minChars: 0,
                        autoFocus: false,
                        delay: 0,
                        source: function (request, response) {
                            $.ajax({
                                url: rootUrl + "/BaseManage/Material/GetSelectJson",
                                dataType: "json",
                                data: {
                                    enCode: request.term
                                },
                                success: function (data) {
                                    //data.map(function (item) {
                                    //    item.value = item.F_Id;
                                    //    item.Code = item.F_EnCode;
                                    //    item.label = item.F_FullName;
                                    //})
                                    response(data);
                                }
                            });
                          
                        },
                        classes: {
                            "ui-autocomplete": "highlight"
                        },
                        focus: function (event, ui) {
                            return false;
                        },
                        select: function (event, ui) {
                            trItem.F_ItemID = ui.item.F_EnCode;
                            trItem.F_ItemIDName = ui.item.F_FullName;
                            $(el).blur();
                            return false;
                        }
                    };
                    var auto = $(el).autocomplete(options);

                    auto.autocomplete("instance")._renderItem = function (ul, item) {
                        return $("<li>")
                    .append("<div>" + item.F_EnCode + " " + item.F_FullName + "</div>")
                    .appendTo(ul);
                    };

                    //$(el).autocomplete("search", $(el).val());
                },             
            }
        })
    }


</script>


@{Html.RenderPartial("~/Views/Partial/PartialOrder.cshtml");}  


